@media (max-width: 1200px) {
  .rewiews{
    height: 250px;
  }
}@media (max-width: 992px) {
    .happy-clients {
      .rewiew-style {
        .rewiews {
          padding: 15px 15px 20px 10px;
        }
      }
    }
  }@media (max-width: 768px) {
  .happy-clients{
    padding: 40px;
    .head-happy-clients{
      padding-bottom: 0;
    }
  }
        .rewiews {
          height: auto;
          padding: 15px 15px 20px 10px;
        }
      }@media (max-width: 576px) {
      .happy-clients{
        padding: 20px;
        .head-happy-clients{
          padding-bottom: 0;
        }
      }
      }

