@media (max-width: 768px) {
  .price{
    padding: 50px 0 0 ;
    .head-price{
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 576px) {
  .price{
    padding: 20px 0 0 ;
    .head-price{
      margin-bottom: 10px;
    }
  }
}