@media (max-width: 1200px) {
  .request-form{
    padding: 110px 50px 300px 50px;
  }
}@media (max-width: 992px) {
  .request-form{
    padding: 110px 0 250px 0;
  }
}
@media (max-width: 768px) {
  .request-form{
    padding: 110px 0 200px 0;
  }
}@media (max-width: 576px) {
  .request-form{
    padding: 60px 0 150px 0;
  }
}